@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
    url('./fonts/GothamPro-Bold.woff2') format('woff2'),
    url('./fonts/GothamPro-Bold.woff') format('woff'),
    font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Light'), local('Gotham-Pro-Light'),
    url('./fonts/GothamPro-Light.woff2') format('woff2'),
    url('./fonts/GothamPro-Light.woff') format('woff'),
    font-weight: 300;
  font-style: normal;
}

/* ============ BASE ============= */

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  margin: 0;
  padding: 0;
}

/* ============ HEADER ============= */

.header {
  background-color: #2b2b40;
  position: relative;
}

.header-container {
  margin: 0 auto;
  width: 1100px;
  height: 77px;
}

.logo {
  display: inline-block;
  padding: 13px 763px 13px 19px;
}

.contacts {
  display: inline-block;
  padding: 22px 21px 6px 0;
}

.contacts-phone {
  color: #fff;
  text-align: right;
  font-size: 21px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.contacts__workhours {
  margin: 0 22px 17px;
  color: #cb2376;
  text-align: right;
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  opacity: .7;
}

section {
  margin: 0;
  padding: 0;
}

.section-container {
  text-align: center;
  background-color: #28283f;
  margin-bottom: 0;
}

/* ============ FEATURES ============= */

.main-container {
  margin: 0 auto;
  width: 1100px;
  padding: 0;
}

/* Sidebar */
.sidebar {
  width: 210px;
  height: 200px;
  vertical-align: top;
}

.sidebar,
.nav-title {
  display: inline-block;
}

.nav-list {
  padding: 0;
  margin-left: 17px;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link img {
  text-decoration: none;
  vertical-align: middle;
  margin-right: 19px;
}

.nav-title {
  color: #cb2376;
  text-transform: uppercase;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 32px;
  text-decoration: none;
}

.nav-title--active {
  color: #000;
  border-bottom: 1px solid #dcdcdc;
}

.box-block {
  display: inline-block;
  width: 880px;
  margin: 0 78 0 0;
  padding: 0;
}

h2 {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
  font-size: 49px;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}


.section-container {
  margin-bottom: 55px;
}

.futures {
  padding: 0;
  margin-bottom: 57px;
  text-align: center;
  margin-right: 55px;
  margin-bottom: 78px;
}

.futures-item {
  display: inline-block;
  width: 189px;
  height: 305px;
  margin-right: 68px;
}

.features-icon-container {
  width: 205px;
  height: 98px;
}

.features-circle {
  position: relative;
  width: 68px;
  height: 68px;
  background-color: #2b2b40;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;

}

.circle-flower {
  position: absolute;
  top: 18px;
  right: 20px;
}

.circle-star {
  position: absolute;
  top: 16px;
  right: 18px;
}

.circle-palette {
  position: absolute;
  top: 19px;
  right: 20px;
}

.futures-h3 {
  margin: 0 35px 15px 35px;
  padding: 0;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 700;
}

.features-text-container {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Gotham Pro', sans-serif;
  color: #262424;
}

p.features-text {
  line-height: 30px;
  margin-bottom: 12px;
}

ul.futures-list {
  text-align: left;
  margin-left: 13px;
  padding-left: 20px;
}

.futures-list li {
  color: #cc3367;
}

.futures-list span {
  color: #262424;
  margin-left: 13px;
}

/* ============ LAST NEWS ============= */
.news {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news-list {
  margin-bottom: 73px;
  padding: 20px;
  border-bottom: 2px solid #f4f4f4;
}

.news-box {
  display: inline-block;
  width: 880px;
  margin-left: 210px;
  padding: 0;
}

.news-item {
  display: inline-block;
  margin-right: 20px;
}

.news-img {
  display: inline-block;
}

.news-img img {
  display: inline-block;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.news-inner {
  display: inline-block;
  width: 74%;
}

.news-date p {
  color: #656464;
  font-family: "Roboto Light";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 8px;
}

.news-h3 {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-family: "Roboto - Bold";
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 10px;
}

.news-text p {
  display: inline-block;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 27px;
  margin: 0;
  padding: 0;
}

/* ============ PAGINATION ============= */
.pagination {
  margin-left: 470px;
}

.pagination a, li, ul {
  display: inline-block;
  text-decoration: none;
  
}

.pagination-display {
  display: inline-block;
  margin: 0 29px 74px;
  height: 14px;
  color: #656464;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.pagination-controls {
  display: inline-block;
}

.pagination-left {
  color: #656464;
}

.pagination-right {
  color: #262424;
}

ul.pagination-list {
  margin: 0;
  padding: 0;
}

.pagination-list li{
  letter-spacing: 13px;
}

.pagination-link {
  color: #262424;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.link--selected:first-child {
  padding: 7px 10px;
  background-color: #000;
}

/* ============ FOOTER ============= */

.footer {
  display: block;
  background-color: #2b2b40;
  color: #fff;
}

.footer-container {
  width: 1100px;
  height: 77px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.description {
  display: inline-block;
  width: 30%;
  font-family: "Gotham Pro";
}

.description-link {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #3d3d4f;
}

.description-item {
  margin: 0;
  padding: 0;
}

.footer-logo {
  display: inline-block;
  margin: 0;
}
.footer-logo a {
  margin: 0;
}

.footer-logo-item {
  margin: 14px 0 12px;
}


.footer-h3 {
  margin-right:;
}

.footer-social {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30%;
}

.footer-social-list {

}